[submodule "evaluation/lesionwise/brats2023_metrics"]
	path = evaluation/lesionwise/brats2023_metrics
	url = https://github.com/rachitsaluja/BraTS-2023-Metrics.git
[submodule "evaluation/inpainting/2023_challenge"]
	path = evaluation/inpainting/2023_challenge
	url = https://github.com/BraTS-inpainting/2023_challenge.git
