.vscode/

# Ignore hidden files/folders
.DS_Store
**/.DS_Store
*/**/.DS_Store
__pycache__

# Ignore testing/dry run files
evaluation/tests/
evaluation/tmpdir/
tests/

# Ignore result files
*.json
*tar*
*zip
all_scores.csv
inputs.yml
